@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.myFont {
    font-family: "Lexend Deca", sans-serif;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-spin {
    animation: spin 1.5s ease-in-out infinite;
}

@keyframes fadeIn {
    0%, 20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn{
    animation: fadeIn 1s ease-out;
}

.hover\:saturate-100:hover {
    --tw-saturate: saturate(1) !important;
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.hover\:blur-0:hover {
    --tw-blur: blur(0) !important;
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@layer base {
  :root {
        --color-1: 270, 100%, 63%;
        --color-2: 270 100% 63%;
        --color-3: 354, 100%, 55%;
        --color-4: 233, 100%, 60%;
        --color-5: 90 100% 63%;
    }
  .dark {
        --color-1: 270, 100%, 63%;
        --color-2: 270 100% 63%;
        --color-3: 354, 100%, 55%;
        --color-4: 233, 100%, 60%;
        --color-5: 90 100% 63%;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

.myLoad {
    animation: myLoad 3s ease-out;
}

@keyframes myLoad {
    0%, 70%{
        filter: brightness(0);
    }
    100%{
        filter: brightness(1);
    }
}