@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background: #000;
    color: white;
    scroll-behavior: smooth;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-spin {
    animation: spin 1.5s ease-in-out infinite;
}

@keyframes fadeIn {
    0%, 20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn{
    animation: fadeIn 1s ease-out;
}

.hover\:saturate-100:hover {
    --tw-saturate: saturate(1) !important;
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.hover\:blur-0:hover {
    --tw-blur: blur(0) !important;
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}